@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';

@tailwind utilities;

@theme {
  --color-primary-500: #703be7;
  --color-primary-600: #4e21b5;
  --color-primary-700: #38148c;
  --color-surface-500: #f5f5f5;
  --color-card: #f5f5f9;
  --color-main-grad-start: #4f52ff;
  --color-main-grad-end: #fb8570;
  --color-text-grad-start: #7f52ff;
  --color-text-grad-end: #fb8570;
  --color-border: #e6e6e6;
  --color-border-gray-500: #ededed;
  --color-border-gray-600: #d6d6d6;
  --color-paragraph: #545454;
  --color-label-disable: #b0b0b0;
  --color-shadow: #2b384c14;
  --font-poppins: 'Poppins', sans-serif;

  --font-nunito: 'Nunito', sans-serif;
}

@layer utilities {
  .container-md {
    @apply max-w-[1200px] w-11/12 mx-auto;
  }

  .text-primary-gradient {
    @apply from-text-grad-start to-text-grad-end text-transparent bg-clip-text;
  }

  .transition-150 {
    @apply transition-all duration-150 ease-in-out;
  }
}
